.button {
    background: $brand--yellow;
    border: 2px solid $brand--black;
    padding: 15px 60px;
    border-radius: 25px;
    text-decoration: none;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 14px;
    transition: all 0.3 ease-in-out;
    cursor: pointer;
    &:hover {
        transform: scale(1.015);
        box-shadow: 0 9px 30px 3px rgba(0, 0, 0, .16);
    }
    &:active {
        transform: scale(1.015) translateY(2px);
        box-shadow: 0 9px 30px 3px rgba(0, 0, 0, .16);
    }
    &:focus {
        outline: none;
        box-shadow: 0 9px 30px 3px rgba(0, 0, 0, .16);
    }
    @include tablet {
        padding: 15px 50px;
        font-size: 12px;
    }
    @include phablet {
        padding: 10px 40px;
        font-size: 10px;
    }
    @include mobile {
        padding: 10px 40px;
        font-size: 10px;
    }
    @include mobile--small {
        padding: 10px 40px;
        font-size: 10px;
    }
}