.footer {
    background-color: $brand--darkgray;
    padding: 5% 0;
    &__inner {
    }
    &__copyright {
        text-align: center;
        margin-bottom: 30px;
        @include mobile {
            font-size: 1.2em !important;
        }
        @include mobile--small {
            font-size: 1em !important;
        }
    }
    &__list {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
        padding-top: 20px;
        padding-bottom: 20px;
        width: 700px;
        &-item {
            width: 100%;
        }
        &-link {
            text-decoration: none;
            color: $brand--white;
            font-weight: 900;
            font-size: 1em;
            &:hover {
                text-decoration: underline;
                text-underline-position: below;
            }
        }
    }
    @include tablet {
        &__list {
            display: block;
            &-item {
                padding: 20px;
            }
        }
        &__inner {
            display: flex;
        }
    }
    @include phablet {
        &__list {
            display: block;
            &-item {
                padding: 20px;
            }
        }
        &__inner {
            display: flex;
            width: 500px;
            margin-left: 30px;
        }
    }
    @include mobile {
        &__list {
            display: block;
            &-item {
                padding: 20px;
            }
            &-link {
                font-size: 1em !important;
            }
        }
        &__inner {
            display: flex;
            width: 360px;
            margin-left: 30px;
        }
    }
    @include mobile--small {
        &__list {
            display: block;
            &-item {
                padding: 20px;
            }
            &-link {
                font-size: 1em !important;
            }
        }
        &__inner {
            display: flex;
            width: 260px;
            margin-left: 30px;
        }
    }
    &__copyright {
        text-align: center;
        display: block;
        color: $brand--white;
        font-size: 1.3em;
        margin-top: 60px;
    }
}