$material-form-label: #000000;
$material-form-label-focus: #000;
$material-form-line: #000000;
$material-form-line-focus: $material-form-label-focus;
$material-form-input-text: $material-form-label;
$material-form-input-text-focus: $material-form-label-focus;
$material-form-field-invalid-foreground: #d50000;

$material-dropdown-hoverBackground: #e8eaf6;
$material-dropdown-selectedBackground: #9fa8da;
$material-labelOffset: 25px;
$material-textInputPaddingTopBottom: 10px;

.material-dropdown{
  position:absolute;
  left:0;
  width:100%;
  height:0;
  margin:0;
  padding:0;
  list-style: none;
  overflow: hidden;
  background: #FFFFFF;
  color:#000000;
  z-index:1000;

  transition:0.2s ease-in height, step-end box-shadow 0.2s;
  -moz-transition:0.2s ease-in height, step-end box-shadow 0.2s;
  -webkit-transition:0.2s ease-in height, step-end box-shadow 0.2s;
  
  &.material-dropdown-open{
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
  }

  li{
    padding:10px;
    cursor:default;
    user-select:none;
    &:hover{
      background-color: $material-dropdown-hoverBackground;
    }
    &.material-dropdown-selected{
      background-color: $material-dropdown-selectedBackground;
    }
  }
}

.material-form-field{
  font-family: 'Roboto', sans-serif;
  font-size:1.2em;
  text-transform: uppercase;
  position:relative;
  display:block;
  color:grey;
  padding:$material-labelOffset 0 10px 0;

  &::after{
    content:"\00A0";
    display:block;
    color: $material-form-field-invalid-foreground;
    font-size:12px;
    padding-top:5px;
  }

  .material-form-field-label{
    position:absolute;
    display:block;
    top: 50px;
    left: 0px;
    transition:0.2s ease all; 
    -moz-transition:0.2s ease all; 
    -webkit-transition:0.2s ease all;
    pointer-events:none;
    cursor:text;
    padding-left: 22px;
  }

  input{
    padding:$material-textInputPaddingTopBottom 0 $material-textInputPaddingTopBottom 0;
    display:block;
    width:100%;
    border:none;
    font-size:14px;
    outline:none;
    border: 1px solid;
    padding-left: 20px;
    font-weight: 700;

    &:invalid{
      outline:none;
      box-shadow: none;
    }
    &:valid, &:focus{
      & ~ .material-form-field-label{
        font-size:12px;
      }
    }
    &:focus{
      outline:none;
      color:$material-form-input-text-focus;
      & ~ .material-form-field-label{
        color:$material-form-label-focus;
        top: 35px;
      }

      & ~ .material-dropdown{
        height:228px; 
        box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
        transition:0.2s ease-out height, step-start box-shadow 0.2s;
        -moz-transition:0.2s ease-out height, step-start box-shadow 0.2s;
        -webkit-transition:0.2s ease-out height, step-start box-shadow 0.2s;
      }
    }
  }

  &.material-form-field-invalid{
    color: $material-form-field-invalid-foreground;
    &::after{
      content:attr(data-validationError);
    }
    input:focus ~ .material-form-field-label{
      color: $material-form-field-invalid-foreground;
    }
  }
}

textarea {
    width: 100%;
    height: 140px;
    resize: none;
    border: 1px solid;
}

$material-checkbox-width: 1.6rem;
$material-checkbox-border-color: #030303;
$material-checkbox-checkmark-color: #fff;

$material-checkbox-checkmark-before-width: 0.7rem;
$material-checkbox-checkmark-after-width: 1.2rem;

input {
  border: 2px solid $material-checkbox-border-color;
  -webkit-appearance: none;
  appearance: none;
  display: inline-block;
  height: $material-checkbox-width;
  width: $material-checkbox-width;
  position: relative;
  
  &:before, &:after {
    position: absolute;
    content: "";
    border-radius: 2px;
  }
  &:before {
    transform-origin: left top;
    transform: rotate(55deg);
    height: .3rem;
    bottom: .7rem;
    left: .2rem;
    width: $material-checkbox-checkmark-before-width;
  }
  &:after {
    transform-origin: left top;
    transform: rotate(-52deg); 
    height: .3rem;
    bottom: .1rem;
    left: .4rem; 
    width: $material-checkbox-checkmark-after-width;
  }
  
  &:checked {
    background: $material-checkbox-border-color;
    
    
    &:before, &:after {
      background: $material-checkbox-checkmark-color;
		 height: 3px;
    }
    &:before {
      animation: checkbox-mask-left .15s ease-in-out;
    }
    &:after {
      animation: checkbox-mask-right .15s ease-in-out;
    }
  }
  &:focus {
    outline: 0;
  }
}

input, label {
  display: inline-block;
  vertical-align: middle;
  font-family: Helvetica, sans-serif;
  cursor: pointer;
}

@keyframes checkbox-mask-left {
  0% {
		width: 0;
  }
  50% {
		width: $material-checkbox-checkmark-before-width;
  }
	100% {
    width: $material-checkbox-checkmark-before-width;
  }
}

@keyframes checkbox-mask-right {
  0% {
		width: 0;
  }
  50% {
		width: 0;
  }
	100% {
    width: $material-checkbox-checkmark-after-width;
  }
}

.checkbox-flash {
  position: absolute;
  background: #999;
  border-radius: 100%;
  transform: scale(0);
  width: 40px;
  height: 40px;
}

.checkbox-flash.animate {
  animation: flash .35s linear;
}

@keyframes flash {
  70% {
    transform: scale(2);
  }
  
  100% {
    opacity: 0;
    transform: scale(1.3);
  }
}
