.header {
    &__slider {
        // border: 1px solid red;
    }
    &__content {
        // border: 1px solid green;
        top: 0;
        max-width: 680px;
        min-height: 562px;
        display: flex;
        flex-direction: column;
        &-inner {
        }
        &--top {
            background: white;
            padding: 55px 50px 55px;
        }
        &--bottom {
            display: flex;
            align-items: flex-end;
            justify-content: space-between;
            background: rgba(255, 233, 85, 0.8);
            padding: 30px 50px 40px;
        }
        &--left {
            width: 70%;
        }
        &--right {
            width: 30%;
            display: flex;
        }
        &-link {
           font-size: 1.5em;
           color: $brand--black;
           font-weight: 900; 
        }
        @include desktop--small {
            &--bottom {
                display: none;
            }
        }
        @include tablet {
            &--bottom {
                display: none;
            }
        }
    }
    @include phablet {
        &__content {
            min-height: 100%;
            width: 260px;
            border: 1px solid red;
        }
    }
    @include tablet {
        &__content {
            min-height: 100%;
            width: 677px;
            border: 1px solid red;
        }
    }
}

header {
    position: relative;
}

main {
    position: absolute;
    right: 0;
    top: 5%;
    @include tablet {
        right: 50%;
        transform: translateX(50%);
    }
    @include phablet {
        right: 50%;
        transform: translateX(50%);
    }
    @include mobile {
        right: 50%;
        transform: translateX(50%);
    }
    @include mobile--small {
        right: 50%;
        transform: translateX(50%);
    }
}