.mobile__menu {
    &--open {
        display: none !important;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100vw;
        height: 100vh;
        justify-content: center;
        z-index: 99999999;
        position: absolute;
        background: white;
        top: 0;
        &-active {
            display: block !important;
        }
        .mobile {
            &__menu-inner {
                position: absolute;
                top: 25%;
                left: 50%;
                transform: translateX(-50%);
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                @include mobile--small {
                    top: 15%;
                }
            }
            &__menu-icon {
                position: relative;
                top: -15vh;
                left: -35vw;
            }
            @include mobile {
                &__menu-icon {
                    position: relative;
                    top: -15vh;
                    left: -25vw;
                }
            }
            @include mobile--small {
                &__menu-icon {
                    position: relative;
                    left: -30vw;
                    top: -10vh;
                }
            }
        }
    }
    &--close {
        width: 50%;
        display: flex;
        justify-content: space-between;
        display: none;
        align-items: center;
        @include tablet {
            display: flex;
            width: 50%;
            height: 100px;
        }
        @include phablet {
            display: flex;
            width: 50%;
            height: 100px;
        }
        @include mobile {
            display: flex;
            width: 50%;
            height: 100px;
        }
        @include mobile--small {
            display: flex;
            width: 50%;
            height: 100px;
        }
    }
    &-list {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }
    &-item {
        padding: 20px;
    }
    &-icon {
        padding: 20px;;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 20px;
    }
    &-logo {
        transform: translateX(50%);
        &-img {
            width: 40px;
            height: auto;
        }
    }
}