// colors

$brand--yellow: #ffe955;
$brand--gray: #ededed;
$brand--darkgray: #2e2f31;
$brand--black: black;
$brand--white: #ffffff;

// breakpoints

$small-mobile-width: 320px;
$mobile-width: 480px;
$phablet-width: 590px;
$tablet-width: 768px;
$small-desktop-width: 1024px;
$medium-desktop-width: 1024px;
$desktop-width: 1440px;
$large-desktop-width: 1530px;

