@mixin for-phone-only {
    @media (max-width: 599px) { @content; }
  }
  @mixin for-tablet-portrait-up {
    @media (min-width: 600px) { @content; }
  }
  @mixin for-tablet-landscape-up {
    @media (min-width: 900px) { @content; }
  }
  @mixin for-desktop-up {
    @media (min-width: 1200px) { @content; }
  }
  @mixin for-big-desktop-up {
    @media (min-width: 1800px) { @content; }
  }

.wrapper {
    // border-left: 1px dotted;
    // border-right: 1px dotted;
    max-width: 1440px;
    margin: 0 auto;
    &--content {
      max-width: 1180px;
    }
    &--large {
      max-width: calc(100% - 250px;);
    }
}