
.wrapper {
    max-width: $desktop-width;
    margin: 0 auto;
    &--content {
      max-width: 1180px;
    }
    &--large {
      max-width: calc(100% - 250px);
    }
    @include desktop--large {
      border: 1px solid purple;
      max-width: 1180px;
      &--volunteer {
        max-width: 1280px;
      }
    }
    @include desktop--medium {
      border: 1px solid purple;
      max-width: 1080px;
      &--volunteer {
        max-width: 1280px;
      }
    }
    @include desktop--small {
      border: 1px solid orange;
      max-width: 1024px;
      &--large {
        min-width: calc(100% - 100px);
      }
      &--volunteer {
        max-width: 1024px;
      }
    }
}