
.wrapper {
    max-width: $desktop-width;
    margin: 0 auto;
    // overflow: hidden;
    &--content {
      max-width: 1180px;
    }
    &--large {
      max-width: calc(100% - 250px);
    }
    @include desktop--large {
      max-width: 1180px;
      &--volunteer {
        max-width: 1280px;
      }
    }
    @include desktop--medium {
      max-width: 1080px;
      &--volunteer {
        max-width: 1280px;
      }
    }
    @include desktop--small {
      max-width: 1024px;
      &--large {
        min-width: calc(100% - 100px);
      }
      &--volunteer {
        max-width: 1024px;
      }
    }
    @include tablet {
      max-width: 650px;
      &--volunteer {
        max-width: 650px;
      }
    }
    @include phablet {
      max-width: 550px;
      &--volunteer {
        max-width: 650px;
      }
    }
    @include mobile {
      max-width: 360px;
      &--volunteer {
        max-width: 650px;
      }
    }
    @include mobile--small {
      max-width: 320px;
      &--volunteer {
        max-width: 650px;
      }
    }
}